NEXT_PUBLIC_SUPABASE_URL=https://ehwkeaynmqmugagwoxfv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVod2tlYXlubXFtdWdhZ3dveGZ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjY1MTk5NDcsImV4cCI6MjA0MjA5NTk0N30.eHu9i9ksmw1aH3lynlNdtnfWL_xTq8CGL9swhKuP6N0